
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  background-size: cover;
  color:aquamarine;
  background-image:url('images/log img.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


header {
  background-color:gray;
  color: white;
  padding: 25px;
  text-align: center;
}

.logo {
  width: 60px;
  margin-bottom: 10px;
}

nav {
  margin-top: 10px;
}
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}

.container {
  max-width: 300px;
  margin: 50px auto;
  padding: 30px;
  background-color:rgb(77, 69, 70);
  border-radius:10px;
  box-shadow: 0 0 15px rgb(212, 166, 173);
}

.login-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.side-image {
  width:200px;
  border-radius:2px;
  
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"]
{
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid black;
  border: radius 10px; ;

}

button {
  padding: 12px;
  background-color:blue;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color:blueviolet;
}
